# OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

# JWT
JWT_SECRET_KEY=

# Database (prod only)
SPRING_DATASOURCE_URL=jdbc:mysql://<RDS_ENDPOINT>:3306/kkobuk
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# Redis (prod only)
SPRING_REDIS_HOST=
SPRING_REDIS_PASSWORD=

# AWS (prod only)
AWS_REGION=
S3_BUCKET_NAME=
LAMBDA_FUNCTION_NAME=
